/.vs/NMEA Include Files/copilot-chat/4e5a98f8/sessions/1a1168af-d0a7-4e22-b912-51802b2d8641
/.vs/NMEA Include Files/CopilotIndices/17.12.53.23981/CodeChunks.db
/.vs/NMEA Include Files/CopilotIndices/17.12.53.23981/SemanticSymbols.db
/.vs/NMEA Include Files/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
/.vs/NMEA Include Files/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
/.vs/NMEA Include Files/FileContentIndex/7cb87b64-f807-4ec3-8deb-ef10c0b28554.vsidx
/.vs/NMEA Include Files/FileContentIndex/8cda4179-dc68-469e-8532-3d118d10bb1b.vsidx
/.vs/NMEA Include Files/FileContentIndex/b0de6957-3d86-4972-93dc-bc280b625e7f.vsidx
/.vs/NMEA Include Files/FileContentIndex/b9992262-8f37-4a9a-9054-2089a3f44891.vsidx
/.vs/NMEA Include Files/FileContentIndex/ed18cfe9-b800-4cc6-97ea-dbef5be07d18.vsidx
/.vs/NMEA Include Files/v17/.suo
/.vs/NMEA Include Files/v17/Browse.VC.db
/.vs/NMEA Include Files/v17/DocumentLayout.backup.json
/.vs/NMEA Include Files/v17/DocumentLayout.json
/.vs/NMEA Include Files/v17/ipch/AutoPCH/17af94e6f73afcc7/PRINTFWRAPPER.ipch
/.vs/NMEA Include Files/v17/ipch/AutoPCH/2a60a02da916ccae/AIS.ipch
/.vs/NMEA Include Files/v17/ipch/AutoPCH/72a4614fc37a5f5f/LOG.ipch
/.vs/NMEA Include Files/v17/ipch/AutoPCH/7a6484ca7a8a6196/ACTISENSEREADER.ipch
/.vs/NMEA Include Files/v17/ipch/AutoPCH/9cf8e892cec76cbc/N2KDATATONMEA0183.ipch
/.vs/NMEA Include Files/v17/ipch/AutoPCH/c49f637c601c8eb1/NMEA0183HANDLERS.ipch
/.vs/NMEA Include Files/v17/Solution.VC.db
/NMEA Include Files.aps
/resource.h
